@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100dvh;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  background-color: var(--color-background-light);
  color: #0f172a;
}

#root {
  width: 100%;
  min-height: 100dvh;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

@theme {
  --color-primary: #1a227f;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121320;
  --color-neutral-slate: #475569;
  --color-accent-blue: #3b82f6;
  --font-display: "Public Sans", sans-serif;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
